/* 標籤的基本樣式 */
@mixin phone {
  @media screen and (max-width:1024px) {
    @content
  }
}

body {
  letter-spacing: 0.02em; //沒有相關的基礎設定
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  color: inherit;
}

.lh-120{
  line-height: 1.2 !important;
}
.lh-150{
  line-height: 1.5 !important;
}

.ls-0 {
  letter-spacing: 0 !important;
}

.rounded-12{
  border-radius: 12px;
}

.mb-18{
  @include phone{
    margin-bottom: 18px;
  }
}

.border-dashed {
  border-bottom: 1px dashed #D1D9E1 !important;
}

.fs-80 {
  font-size: 80px;
  @include phone {
    font-size: 32px;
  }
}

.special-fs-24{
  font-size: 24px;
  @include phone {
    font-size: 20px;
  }
}
.special-fs-20{
  font-size: 20px;
  @include phone {
    font-size: 18px;
  }
}