// 讓 font-size 這個 utility 支援「responsive（響應式）」的 class。
$utilities: map-merge(
  $utilities,
  (
    "font-size":
      map-merge(
        map-get($utilities, "font-size"),
        (
          responsive: true,
        )
      ),
  )
);