<footer class="bg-gray border-top">
  <div class="footerContainer footerPadding d-flex justify-content-center">
    <!-- left -->
    <div class="d-flex justify-content-between footerSide align-items-center">
      <div class="footerItem d-flex">
        <p class="rounded-16 footerItemPadding">服務方案</p>
        <p class="rounded-16 footerItemPadding">關於職旅</p>
        <p class="rounded-16 footerItemPadding">聯絡我們</p>
        <p class="rounded-16 footerItemPadding">隱私權政策</p>
        <p class="rounded-16 footerItemPadding">用戶條款</p>
      </div>
      <span class="text-secondary fs-14">Copyright © 2025 職旅 workway. All rights reserved.</span>
    </div>
  </div>
</footer>