// @import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');
// 建議外部導入的字體 @import 放置在 bts 自訂樣式的導入順序 的上面, 但這樣的方式對效能較不佳, 可改用 link 導入較佳

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import './utils/variables';

// 4. Include any default map overrides here
// 5. Include remainder of required parts
// 6. Include any other optional stylesheet partials as desired; list below is not inclusive of all available stylesheets
@import "../../node_modules/bootstrap";


// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import '../scss/utils/utilities';
@import'../../node_modules/bootstrap/scss/utilities/api';
// @import "bootstrap/scss/utilities/api";

// 8. Add additional custom code here
@import '../scss/base/base';

@import './layout/header.scss';
@import './layout/footer.scss';

@import './pages/index.scss';
@import './pages/_user.scss';



//Bootstrap 官方推薦的 「自訂樣式的導入順序」: https://getbootstrap.com/docs/5.3/customize/sass/