@mixin phone{
  @media screen and (max-width: 1024px) {
    @content;
  }
}
//nav
.py-14{
  padding: 14px 0px;
}

.bar-icon{
  width: 24px;
  height: 24px;
}

.logo{
  @include phone{
    width: 92px;
  }
}

//Avatar
.avatar-removing{
  cursor: pointer;
  margin-right: 0px;
  @include phone{
    margin-right: 36px;
  }
}

.user-img{
  width: 44px;
  height: 44px;
}

//navbar
/* 預設收起 */
.custom-collapse {
  @include phone{
    position: absolute;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    // transition: all 0.5s ease;
  }
}

/* 展開狀態 */
.custom-collapse.is-open {
  @include phone{
    width: 100%;
    background: #f8f9fa;
    position: absolute;
    top: 60px;
    margin: 0px -12px;
    max-height: 300px; /* 可依內容調整 */
    opacity: 1;
    visibility: visible;
  }
  .nav-flex{
    @include phone{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    
    }
  }
}


/* 桌面版保持展開 */
@media (min-width: 1024px) {
  .custom-collapse {
    max-height: none !important;
    opacity: 1 !important;
    visibility: visible !important;
    overflow: visible;
  }

  #menuBtn {
    display: none;
  }
}

//移除點擊瀏覽器預設的 focus outline 樣式
.navbar-toggler:focus,
.navbar-toggler:active {
  @include phone {
    outline: none !important;
    box-shadow: none !important;
  }
}



//modal
.modal-width{
  max-width: 1200px;
  width: 100%;
  height: auto;
}

//縮至 992px 尺寸以下時, 畫面頂部有黑邊情況,故用下方解法處理
@media screen and (max-width: 992px) {
//.modal 的 margin: 0.5rem 導致頂部黑邊加=>.modal.modal-fullscreen-lg-down { margin: 0 !important; }
  .modal.modal-fullscreen-lg-down {
    margin: 0 !important;
  }
//其他元素沒貼齊高度同步調整=>.modal-dialog 和 .modal-content 高度
  .modal-dialog {
    height: 100%;
    margin: 0;
  }

  .modal-content {
    height: 100%;
    border-radius: 0;
  }
}


//login-img
.img-wrapper {
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
  overflow: hidden;
  width: 700px;
  height: 720px;
}
.custom-img-width {
  display: block;
  width: 100%;
  height: 100%; /* 和父容器高度一致 */
  object-fit: cover; /* 保持圖片比例裁切，填滿容器 */
  border-radius: 0; /* 不設定圖片圓角 */
}
.card-bg-color{
  background-color: transparent; /* 防止背景色蓋住圖片 */
}
.google-img{
  width: 20px;
  height: 20px;
}
.icon-fs20{
  font-size: 20px;
}
.fs-14{
  font-size: 14px;
}
.lh-120{
  line-height: 1.2;
}
.text-underline{
  text-decoration: underline;
}
//register-img
.img-wrapper-register{
  width: 700px;
  // height: 770px; // 原設計稿
  // height: 818px;
  height: 100%;
  border-bottom-right-radius: 24px;
  border-top-right-radius: 24px;
  overflow: hidden;
}
.click-cursor{
  cursor: default;
}

.custom-rounded{
  border-radius: 24px;
  @include phone{
    border-radius: 0px;
  }
}

.custom-modal-mb{
  margin-bottom: 0px;
  @include phone{
    margin-bottom: 270px;
  }
}
.custom-modal-register-mb{
  margin-bottom: 48px;
  // margin-bottom: 0px; //原設計稿
  @include phone{
    margin-bottom: 156px;
  }
}