@mixin phone{
  @media screen and (max-width:1024px) {
    @content;
  }
}

.about-Career-background-color-height{
  width: 100%;
  height: 347px;
  @include phone {
    height: 278px;
  }
}

.about-Career-background-color-opacity{
  opacity: 0.1;
}

.about-Career-img-size{
  height: 347px;
  overflow: hidden;
  @include phone{
    height: 278px;
  }
}


.about-Career-img-show{
  display: block;
  @include phone{
    display: none;
  }
}

.about-Career-img-reverse-show{
  display: none;
  @include phone{
    display: block;
  }
}

.about-Career-objcet-img{
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/service/banner-bg.png');
  background-size: contain;
  background-repeat: repeat-x; /* 只橫向重複 */
}

.about-Career-title-width{
  max-width: 800px;
  width: 100%;
}

.about-Career-girls-img-show{
  display: block;
  @include phone {
    display: none;
  }
}

.about-Career-girls-img-position{
  top: 235px;
  right: 438px;
}

// swiper
.swiper-container{
  max-width: 1600px;
  overflow: hidden;
   @media (max-width: 1439px) {
    max-width: 100%;  // 讓 swiper 可視寬 = container 寬度
  }
}

.swiper{
  width: 100%;
}

.swiper-slide{
  width: 320px;
}

.swiper-slide-card-size{ 
  height: 576px;     // 但不超過 576px
  @include phone {
    height: 569px;
  }
}

.about-Career-textCard-tab-size{
  max-width: 120px;
  height: 50px;
}

.about-Career-textCard-tab-fs-20{
  font-size: 20px;
  @include phone {
    font-size: 18px;
  }
}

.about-Career-textCard-tab-conversation-height{
  height: 64px;
} 

.about-Career-textCard-tab-diamond-size{
  width: 28px;
  height: 28px;
}

// 裝飾物（菱形、箭頭、角標）＝ 一定用「座標定位」
.about-Career-textCard-tab-diamond-rotate{
  //水平置中
  transform: translateX(-50%) rotate(45deg);
}

.about-Career-textCard-tab-diamond-position{
  left: 50%; //水平置中
  bottom: -9.2px;
  z-index: 0;
}

.about-Career-textCard-tab-text-size{
  max-width: 800px;
}

.about-Career-textCard-img-size{
  object-fit: cover; /* 關鍵 */
  object-position: center;
}

.about-Career-company-information-grey-bg-size{
  width: 100%;
  height: 979px;
  @include phone {
    height: 895px;
  }
}

.about-Career-company-information-table-fixed{
  table-layout: fixed;
}

.about-Career-company-information-th-size{
  width: 120px;         
  max-width: 120px;   
}

.about-Career-company-information-th-td-size{
    height: 49px;
    max-height: 49px;
}


//Google Map 的「縮畫面像放大」= 固定容器 + 內容 scale + 裁切
.about-Career-company-information-map-size{
  width: 100%;
  height: 400px;
  overflow: hidden;
  @include phone {
    height: 200px;
  }
  .about-Career-company-information-map-object{
    object-fit: cover;
    object-position: center;
    @include phone {
      transform: scale(1.35);      // ⭐關鍵：放大
      transform-origin: center;   // 從中心放大
    }
  }
}

.about-Career-company-information-contact-Info-Padding{
  padding-top: 40px;
  padding-bottom: 40px;
}

.about-Career-company-information-contact-company-flex{
  flex-direction: row;
  justify-content: space-between;
  @include phone {
    flex-direction: column;
  }
}