@mixin phone {
  @media screen and (max-width: 1024px){
    @content;
  }
}

.female-asst-img-width{
  width: 120px;
  height: 160px;
}
.female-asst-img-margin{
  margin-right: 52px;
}

.box-left-side{
  max-width: 300px;
  width: 100%;
}

.guest-dropdown-menu{
  display: none;
  position: static;  /* 🔥 必須改成 static 才不會亂位 */
  float: none;
  margin: 0;
  padding: .5rem 0;
  background: #fcfcfd;
  z-index: 1000;
  border-radius: 12px;
}

.guest-dropdown-menu.guest-dropdown-ul-open{
  display: block;
}

.guest-dropdown-menu-li-a{
  background: #fcfcfd;
  
}
.guest-dropdown-menu-li-a:hover{
  background: #E0E5EB;
 
}

.form-check.contactTime{
  margin-bottom: 0px;
}

.form-floating > .tellUsOtherPadding{
     padding-top: 1.625rem !important;
    @include phone {
      padding-top: 2.5rem !important;             /* 把 textarea 往下推 */
    }
}

@media (min-width: 481px) and (max-width: 991px) {
  .form-floating > .tellUsOtherPadding {
    // padding-top: 1.9rem; /* 介於桌機與手機之間的合理值 */
    padding-top: 1.625rem !important;
  }
}

.tellUsOther-label{
  white-space: nowrap;
  @include phone {
    white-space: normal !important;   /*解除不換行限制*/
    height: auto !important;          /* label 高度隨內容自動撐開*/
    line-height: 1.3;                 /*調整行距*/
    padding-top: .8rem;               /*下推一點 label 位置*/
  }
}

.sentContactBtnPadding{
  padding: 12px 12px 12px 20px;
  @include phone {
    padding: 12px 8px 12px 12px;
  }
}

.test{
  background: #000;
  color: white;
}