@mixin phone {
  @media screen and (max-width:1024px) {
    @content;
  }
}

.index-gradient-ball-img-size {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  height: 800px;
}

.index-gradient-ball-img-padding {
  padding-top: 40px;
  padding-bottom: 38px;
  @include phone {
   padding-bottom: 24px;
  }
}

.index-gradient-ball-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 0%;
}

.index-title-size {
  max-width: 815px;
  width: 100%; 
}

.index-title-btn-flex-column{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @include phone {
    flex-direction: column;
  }
}

.index-title-text-position{
  text-align: left;
  @include phone {
    text-align: center;
  }
}

.index-title-btn-padding{
  padding: 12px 12px 12px 20px;
  @include phone {
    padding: 8px 8px 8px 12px;
  }
}

.icon-fs28{
  font-size: 28px !important;
}

.mb-40{
  margin-bottom: 40px;
}

.index-fluid-hero-wall-wrapper{
  width: 100%;
}

.index-hero-wall {
  width: 100%;
  justify-content: flex-start;
  @include phone{
    justify-content: center;
  }
}

.index-img-object{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.index-hero-1-size{
  max-width: 608px;
  max-height: 400px;
}
.index-hero-2-size{
  max-width: 608px;
  max-height: 160px;
}
.index-hero-3-size{
  max-width: 608px;
  max-height: 216px;
}
.index-hero-4-size{
  max-width: 608px;
  max-height: 400px;
}

// area-2
.index-story-bg-height{
  max-height: 690px;
  // height: 100%;
  @include phone {
    max-height: 743px;
  }
}

.index-story-center-box-flex-direction{
  flex-direction: row;
  align-items: center;
  @include phone {
    flex-direction: column;
    align-items: flex-start;
  }
}

.index-story-text-size{
  max-width: 416px;
}

.index-story-logo-size{
  width: 96px;
  height: 84px;
  @include phone {
    width: 48px;
    height: 42px;
  }
}

.index-swiper-container-size{
  //讓 swiper 脫離 container 對齊系統
  width: 100vw; // 滿版寬度
  //真正的 RWD 做法不是給固定值這樣，而是用 vw + calc 讓它自動滿版
  // margin-right: -752px; // 直接給固定值
  margin-right: calc(15.76% - 50vw);
  @include phone {
    width: 100%;
    margin-right: 0;
  }
}

.swiper-slide.index-swiper-slide{
  width: 400px;
  height: auto;
  @include phone {
    width: 320px;
  }
}

.index-story-img-size{
  width: 400px;
  height: 500px;
  @include phone {
    width: 320px;
    height: 400px;
  }
}

.index-story-p-height{
  min-height: 84px;
}

.index-story-tab-position{
  position: absolute;
  top: 12px;
  left: 12px;
}

// area-3
.index-work-way-why-conversation-height{
  height: 64px;
}

.index-work-way-why-padding{
  padding: 12.8px 18.12px 13.2px 19.88px;
  @include phone {
    padding: 13.8px 22.12px 14.2px 23.88px;
  }
}

.index-work-way-why-diamond-size{
  width: 28px;
  height: 28px;
}

// 裝飾物（菱形、箭頭、角標）＝ 一定用「座標定位」
.index-work-way-why-diamond-rotate{
  //水平置中
  transform: translateX(-50%) rotate(45deg);
}

.index-work-way-why-diamond-position{
  left: 50%; //水平置中
  bottom: -7.5px;
  z-index: 0;
}

.index-work-img-wall-flex-direction{
  flex-direction: row;
  @include phone {
    flex-direction: column;
  }
}

.index-work-img-card-size{
  max-width: 416px;
  height: 316px;
  @include phone{
    max-width: 100%;
  }
}

.index-work-img-object{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 30%; 
}

.index-work-img-rounded{
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

//用來「圓角吃掉抗鋸齒產生的半透明像素」。
.index-work-img-margin-bottom{
  margin-bottom: 0px;
  @include phone{
    margin-bottom: -1px;
  }
}

.padding-nine-point-five{
  padding: 9.5px 0px;
  @include phone {
    padding: 8.5px 0px;
  }
}

.index-work-adv-vector-img-show{
  display: block;
  @include phone{
    display: none;
  }
}

// area-4
.index-meet-gradient-ball-img-position{
  position: absolute;
  top: 140px;
  left: 1300px;
  // right: -180px;
  z-index: 0;
  @include phone {
    top: 530px;
    left: 135px;
  }
}

.index-meet-gradient-ball-img-size{
  width: 800px;
  height: 800px;
  @include phone {
    width: 400px;
    height: 400px;
  }
}

.index-meet-gradient-ball-img-object{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.index-meet-partners-box-flex-direction{
  flex-direction: row;
  @include phone {
    flex-direction: column;
  }
}

.index-meet-partners-img-size{
  max-width: 636px;
  max-height: 480px;
  @include phone {
    max-width: 100%;
    max-height: 100%;
  }
}

.index-meet-partners-title-middle-width{
  max-width: 420px;
  @include phone {
    max-width: 351px;
  }
}

//優化前
// .index-meet-partners-quote-title::before{
//   content: "“";
//   margin-left: -11px;
// }
// .index-meet-partners-quote-title::after{
//   content: "”";
// }

//優化後
.index-meet-partners-quote-title{
  margin-left: 0px;
  @media screen and (max-width: 351px) {
    margin-left: -12px;
  }
}