@mixin phone {
  @media screen and (max-width:1024px) {
    @content;
  }
}

.service-plan-background-color-height{
  height: 320px;
  @include phone{
    height: 254px;
  }
}

.service-plan-background-color-opacity{
  opacity: 0.1;
}

.service-plan-img-size{
  height: 320px;
  overflow: hidden;
  @include phone {
    height: 254px;
    
  }
}

.service-plan-img-show{
  display: block;
  @include phone{
    display: none;
  }
}

.service-plan-img-reverse-show{
  display: none;
  @include phone{
    display: block;
  }
}

.service-plan-object-img{
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/service/banner-bg.png');
  background-size: contain;
  background-repeat: repeat-x; /* 只橫向重複 */ 
}

.service-plan-title-width{
  max-width: 800px;
  width: 100%;
}


.girls-img-show{
  display: block;
  @include phone {
    display: none;
  }
}

.girls-img-position{
  top: 208px;
  right: 430px;
}

.card-tab-box-size{
  max-width: 63px;
  max-height: 33px;
  width: 100%;
  height: 100%;
}

.card-tab-rounded{
  border-top-left-radius: 16px;
  border-bottom-right-radius: 12px;
  @include phone {
    border-top-left-radius: 12px;
  }
}

.card-plan-img-size{
  max-width: 300px;
  height: 337px;
}

.white-nowrap {
  white-space: nowrap;
}

.ls-0 {
  letter-spacing: 0 !important;
}

.service-img-size{
  width: 160px;
  height: 160px;
  @include phone {
    width: 120px;
    height: 120px;
  }
}

.support-circle-img-position{
  top: -2px;
  right: 0px;
  @include phone{
    top: 0px;
    right: 0px;
  }
}

.support-circle-img{
  width: 100%;
  height: 160px;
}

.support-boy-img-position{
  left: 24px;
  bottom: -2px;
}

.support-girls-img-position{
  right: 24px;
  bottom: -2px;
}

.contact-Info-Padding{
  padding-top: 40px;
  padding-bottom: 40px;
}

.border-dashed {
  border-bottom: 1px dashed #D1D9E1 !important;
}

.contact-company-fs-20{
  font-size: 20px;
  @include phone {
    font-size: 18px;
  }
}

.contact-company-flex{
  flex-direction: row;
  justify-content: space-between;
  @include phone {
    flex-direction: column;
  }
}