@mixin phone{
  @media screen and (max-width:1024px) {
    @content;
  }
}


// user page
.col-width{
  //.col-lg-10 在 Bootstrap 裡會加 左右 gutter padding（預設 12px）
  //若要1076px的寬度就必須將 max-width 設成包含 padding
  // 這樣內容寬度就會剛好 1076px，左右 gutter 還在。
  max-width: 1100px; // 1076+12+12 = 1100px
  width: 100%;
}

.side-width{
  max-width: 300px; //沒有相關的基礎設定
  width: 100%;
}

.tab-btn-bg{
  .nav-link{
    background: $white;
  }
}

.rounded-16 {
    border-radius: 16px;
    @include phone{
    border-radius: 12px;
  }
}
.rounded-24{
  border-radius: 24px;
  @include phone{
    border-radius: 16px;
  }
}

.gap-lg-5{
  gap: 24px;
}

.flex-shrink-1024-0{
  flex-shrink: 0;
  @include phone {
    
  }
}

.uploadPadding{
  padding: 12px 20px;
  @include phone {
    padding: 12px;
  }
}
.printPadding{
  padding: 12px 12px 12px 20px ;
  @include phone {
    padding: 12px 8px 12px 12px;
  }
}
.updataPwdPadding{
  padding: 12px 12px 12px 20px ;
}

.fs-14{
  font-size: 14px;
}
.fs-20{
  font-size: 20px;
}

.fs-special{
  font-size: 14px;
  @include phone{
    font-size: 12px;
  }
}

.pb-56{
  padding-bottom: 56px;
}

.flex-col-rever-btn{
  gap: 24px;
  flex-direction: row;
  @include phone{
    gap: 16px;
    flex-direction: column-reverse;

  }
}

.user-default-img{
  width: 120px;
  height: 120px;
}

//使用電腦的開發者工具來查看時, 背景都會有內縮補償情況
//此參數是讓畫面固定不動
body.modal-open {
  padding-right: 0 !important;
  margin-right: 0 !important;
}


.user-modal.modal-dialog {
  @include phone{
    margin: 0px auto !important;
    height: 100%;
    padding: 0px 24px;
  } 
}

.user-modal.modal-content {
  @include phone{
    width: 100%;
    height: auto;
    border-radius: 12px;
  }  
}

.modal-480{
  max-width: 480px;
  @include phone {
    max-width: 327px;
  }
}


.modal-header-padding{
  padding: 8px 16px 8px 24px;
}

.modal-body-padding{
  padding: 24px;
}

.modal-footer-padding{
  padding: 16px 24px;
}

.modal-icon{
  display: flex;               /* 變成 flex 容器 */
  justify-content: center;     /* 水平置中 */
  align-items: center;         /* 垂直置中 */
  width: 44px;                 /* 按鈕寬度 */
  height: 44px;                /* 按鈕高度 */
  padding: 0;                  /* 去除多餘間距 */
}

.filter-Icon.material-icons-outlined{
  font-size: 24px;
}

.material-icons-outlined{
  font-size: 20px;
}

//personal data item

.personal-data-btn{
   width: 351px;
   overflow-x:auto;
}


//預約紀錄的 dropdown

.dropdown.sort-dropdown {
  position: relative;
  overflow: visible !important;
  z-index: 10; // 保險，避免被蓋住
}

.bg-hover:hover {
  background-color: $natural-90 !important;
}

.btnChange.btn:hover{
  background: #141A1F;
}

//table => bootstrap 4 沒有 .d-lg-table-cell 這樣的寫法, 所以需要手刻 CSS
//big screen th
.d-lg-table-cell-show{
    display: table-cell !important;
    vertical-align: middle;
  @include phone {
    display: none !important;
  }
}
.d-lg-table-cell-none{
    display: none !important;
  @include phone {
    display: table-cell !important;
  }
}

//small screen tr and td
.table-row-rwd {
    display: table-row;      /* 回到 tr 原本樣式 */
  @include phone {
    display: block;          /* 小螢幕時 tr 變 block */
           
  }
}

// each td padding
.table-row-rwd .courseMerchandisePadding {
  display: table-cell;   /* 回到 td 原本樣式 */
  padding: 16px 397px 16px 12px;
  letter-spacing: 0px;
  @include phone {
    display: none;
  }
}

.table-row-rwd .othersItem {
  display: table-cell;   /* 回到 td 原本樣式 */
  @include phone {
    display: none;
  }
}


.table-row-rwd .smallScreenTdStatus{
  display: none;
  @include phone {
    display: block;
    padding: 0px;
  }
}

.table-row-rwd .smallScreenCourseMerchandisePadding {
    padding: 10px 11.5px 10px 8px;
}
.table-row-rwd .smallScreenConsultationMethodPadding {
    padding: 10px 8px;
}
.table-row-rwd .smallScreenBookClassDatePadding {
    padding: 11.5px 8px;
}
.table-row-rwd .smallScreenConsultationTimePadding {
    padding: 11.5px  69px 11.5px 8px;
}
.table-row-rwd .smallScreenClassStatusPadding {
    padding: 11.5px  235px 11.5px 8px;
}




