<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- 告訴 IE：不要用舊模式，請用最新能力來顯示這個網頁。 -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=visibility,visibility_off" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css"/>
  <title>aboutCareer</title>
  <style>
      body {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease;
        }

      body.loaded {
        visibility: visible;
        transition: opacity 0.8s ease;
        opacity: 1;
        overflow-x: hidden;
      }
    </style>
</head>
<body>
  <%- include('./layout/header') -%>
  <main class="bg-light" id="aboutCareer">
    <!-- header-bg -->
    <section>
      <div class="container-fluid px-0 position-relative">
        <!-- img -->
        <div class="position-relative about-Career-img-size">
          <div class="bg-light position-absolute about-Career-background-color-height about-Career-background-color-opacity"></div>
          <img src="../assets/images/service/banner-bg-pc.png" alt="banner-bg-pc" class="about-Career-img-show w-100 h-100">
          <div class="about-Career-img-reverse-show about-Career-objcet-img"></div> <!-- 背景圖要 repeat，就該交給 div -->
        </div>
        <!-- header-title -->
        <div class="d-flex flex-column px-3 py-lg-7 py-6 position-absolute top-0 w-100">
          <div class="d-flex flex-column gap-lg-6 gap-5 align-items-center">
            <h1 class="fs-lg-1 fs-2 fw-bold">關於職旅</h1>
            <div class="about-Career-title-width">
              <p class="fs-lg-5 fs-6 text-natural-50 text-center">職旅 WorkWay 匯集了來自不同領域、擁有豐富實戰經驗的自由工作者與數位遊牧專家。根據你的需求和階段，我們提供一對一諮詢。</p>
              <p class="fs-lg-5 fs-6 text-natural-50 text-center">無論你是剛開始探索期，還是已在轉型路上遇到瓶頸，我們都能提供適合你的專業指導。</p>
            </div>
          </div>
        </div>
        <!-- header-girls -->
        <div class="about-Career-girls-img-show position-absolute about-Career-girls-img-position">
          <img src="../assets/images/service/banner-person.svg" alt="girls-picture" class="img-fluid">
        </div>
      </div>
    </section>
    <!-- 中間有類似輪播卡片還沒做-2026/1/30 -->
    <section class="overflow-hidden">
      <div class="container py-lg-7 py-6">
        <div class="d-flex flex-column gap-lg-6 gap-5">
         <!-- title -->
         <div class="d-flex flex-column gap-lg-5 gap-4 align-items-center">
          <h2 class="fw-bold fs-lg-2 fs-3">精實的職旅夥伴</h2>
          <p class="fs-lg-5 fs-6 text-natural-50 text-center">我們相信，最好的指導來自於那些已經走過你想走的路，並願意伸出手拉你一把的人。</p>
         </div>
         <!-- Swiper -->
         <div class="swiper-container mx-auto">
          <!-- Slider main container -->
          <div class="swiper swiper-slide-card-size">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide ">
                <div class="card rounded-24 shadow overflow-hidden h-100">
                  <div>
                    <img src="../assets/images/about/mentor-1.png" alt="mentor-1" class="img-fluid">
                  </div>
                  <div class="d-flex flex-column gap-4 px-4 pt-4 pb-5">
                    <div class="d-flex flex-column gap-2">
                      <h6 class="fs-14 fs-lg-6 text-natural-50">數位遊牧先驅</h6>
                      <h4 class="fs-lg-4 fs-20">陳志遠 Ethan Chen</h4>
                    </div>
                    <div class="d-flex gap-2">
                      <div class="border border-natural-85 py-1 px-2 rounded-16 d-flex align-items-center"><span class="fs-14 text-natural-50 fw-normal"># 遠端工作策略</span></div>
                      <div class="border border-natural-85 py-1 px-2 rounded-16 d-flex align-items-center"><span class="fs-14 text-natural-50 fw-normal"># 數位遊牧生活設計</span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card rounded-24 shadow overflow-hidden h-100">
                  <div>
                    <img src="../assets/images/about/mentor-2.png" alt="mentor-2" class="img-fluid">
                  </div>
                  <div class="d-flex flex-column gap-4 px-4 pt-4 pb-5">
                    <div class="d-flex flex-column gap-2">
                      <h6 class="fs-14 fs-lg-6 text-natural-50">個人品牌策略專家</h6>
                      <h4 class="fs-lg-4 fs-20">林曉彤 Clara Lin</h4>
                    </div>
                    <div class="d-flex gap-2 flex-wrap">
                      <div class="border border-natural-85 py-1 px-2 rounded-16 d-flex align-items-center"><span class="fs-14 text-natural-50 fw-normal"># 個人品牌建立</span></div>
                      <div class="border border-natural-85 py-1 px-2 rounded-16 d-flex align-items-center"><span class="fs-14 text-natural-50 fw-normal"># 內容行銷策略</span></div>
                      <div class="border border-natural-85 py-1 px-2 rounded-16 d-flex align-items-center"><span class="fs-14 text-natural-50 fw-normal"># 故事行銷</span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card rounded-24 shadow overflow-hidden h-100">
                  <div>
                    <img src="../assets/images/about/mentor-3.png" alt="mentor-3" class="img-fluid">
                  </div>
                  <div class="d-flex flex-column gap-4 px-4 pt-4 pb-5">
                    <div class="d-flex flex-column gap-2">
                      <h6 class="fs-14 fs-lg-6 text-natural-50">財務自由規劃顧問</h6>
                      <h4 class="fs-lg-4 fs-20">王建明 Marcus</h4>
                    </div>
                    <div class="d-flex gap-2 flex-wrap">
                      <div class="border border-natural-85 py-1 px-2 rounded-16 d-flex align-items-center"><span class="fs-14 text-natural-50 fw-normal"># 稅務優化</span></div>
                      <div class="border border-natural-85 py-1 px-2 rounded-16 d-flex align-items-center"><span class="fs-14 text-natural-50 fw-normal"># 被動收入建立</span></div>
                      <div class="border border-natural-85 py-1 px-2 rounded-16 d-flex align-items-center"><span class="fs-14 text-natural-50 fw-normal"># 現金流管理</span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card rounded-24 shadow overflow-hidden h-100">
                  <div>
                    <img src="../assets/images/about/mentor-4.png" alt="mentor-4" class="img-fluid">
                  </div>
                  <div class="d-flex flex-column gap-4 px-4 pt-4 pb-5">
                    <div class="d-flex flex-column gap-2">
                      <h6 class="fs-14 fs-lg-6 text-natural-50">創意接案與多元收入專家</h6>
                      <h4 class="fs-lg-4 fs-20">張雅琳 Ariel</h4>
                    </div>
                    <div class="d-flex gap-2 flex-wrap">
                      <div class="border border-natural-85 py-1 px-2 rounded-16 d-flex align-items-center"><span class="fs-14 text-natural-50 fw-normal"># 創意變現策略</span></div>
                      <div class="border border-natural-85 py-1 px-2 rounded-16 d-flex align-items-center"><span class="fs-14 text-natural-50 fw-normal"># 線上課程開發</span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card rounded-24 shadow overflow-hidden h-100">
                  <div>
                    <img src="../assets/images/about/mentor-5.png" alt="mentor-5" class="img-fluid">
                  </div>
                  <div class="d-flex flex-column gap-4 px-4 pt-4 pb-5">
                    <div class="d-flex flex-column gap-2">
                      <h6 class="fs-14 fs-lg-6 text-natural-50">遠端工作技術顧問</h6>
                      <h4 class="fs-lg-4 fs-20">李俊宏 Kevin Lee</h4>
                    </div>
                    <div class="d-flex gap-2 flex-wrap">
                      <div class="border border-natural-85 py-1 px-2 rounded-16 d-flex align-items-center"><span class="fs-14 text-natural-50 fw-normal"># 專案管理自動化</span></div>
                      <div class="border border-natural-85 py-1 px-2 rounded-16 d-flex align-items-center"><span class="fs-14 text-natural-50 fw-normal"># 虛擬團隊管理</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
         </div>
         <!-- text-card -->
         <div class="d-flex flex-column gap-lg-6 gap-5 border rounded-24 shadow bg-primary-60 pt-lg-5 pt-4 pb-lg-6 pb-5 px-lg-6 px-5">
          <div class="d-flex flex-column gap-lg-5 gap-4">
            <div class="d-flex justify-content-center about-Career-textCard-tab-conversation-height">
              <div class="border border-2 rounded-12 
                          bg-light about-Career-textCard-tab-size 
                          w-100 border-primary-60 
                          d-flex justify-content-center align-items-center
                          position-relative">
                <h5 class="about-Career-textCard-tab-fs-20 text-primary-60 fw-bold position-relative z-1">團隊承諾</h5>
                <div class="about-Career-textCard-tab-diamond-size
                          about-Career-textCard-tab-diamond-rotate 
                          bg-light position-absolute about-Career-textCard-tab-diamond-position">
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <p class="about-Career-textCard-tab-text-size text-center fs-lg-6 fs-14 text-light">
                 我們不只是顧問，更是你職業轉型路上的夥伴與同行者。我們深知轉型過程中的不確定與恐懼，
                 也經歷過停滯不前的困境。正因如此，我們更懂得如何陪你走過這段旅程，不只指引方向，
                 更與你並肩同行。
              </p>
            </div>
          </div>
          <!-- text-card-img -->
          <div class="d-md-flex justify-content-center d-none">
            <img src="../assets/images/about/text-pc.svg" alt="text-img" class="img-fluid">
          </div>
          <!-- text-card-img-md-size -->
          <div class="w-100 h-100 d-flex d-md-none justify-content-center ">
            <img src="../assets/images/about/mb-img.png" alt="text-img" class="about-Career-textCard-img-size">
          </div>
         </div>
        </div>
      </div>
    </section>
    <!-- company information -->
    <section>
      <div class="position-relative">
        <div class="about-Career-company-information-grey-bg-size bg-natural-95 position-absolute"></div>
        <div class="container py-lg-7 py-6 position-relative">
          <div class="d-flex flex-column gap-lg-6 gap-5">
            <h2 class="fs-lg-2 fs-3 fw-bold text-center">公司資訊</h2>
            <!-- table -->
            <div class="d-flex flex-column p-lg-6 p-5 border border-natural-95 rounded-24 gap-lg-6 gap-5 bg-light shadow">
              <!-- <div class="d-flex flex-column"></div> -->
              <table class="table about-Career-company-information-table-fixed w-100 mb-0">
                <tbody>
                  <tr class="border-natural-85">
                    <th scope="row" class="about-Career-company-information-th-size p-0">
                      <div class="mb-18">
                        <p class="fs-lg-6 fs-14 text-natural-50 fw-bold lh-120 p-lg-5 p-4">公司位置</p>
                      </div>
                    </th>
                    <td class="p-0">
                      <div class="py-lg-5 py-4 ps-0 pe-lg-5 pe-4">
                        <p class="fs-lg-6 fs-14 fw-medium lh-120">110台北市信義區信義路五段7號</p>
                      </div>
                    </td>
                  </tr>
                  <tr class="border-natural-85">
                    <th scope="row" class="about-Career-company-information-th-size p-0">
                      <div class="mb-18">
                        <p class="fs-lg-6 fs-14 text-natural-50 fw-bold lh-120 p-lg-5 p-4">負責人</p>
                      </div>
                    </th>
                    <td class="p-0">
                      <div class="mb-18">
                        <p class="fs-lg-6 fs-14 fw-medium lh-120 py-lg-5 py-4 ps-0 pe-lg-5 pe-4">張世明</p>
                      </div>
                    </td>
                  </tr>
                  <tr class="border-natural-85">
                    <th scope="row" class="about-Career-company-information-th-size p-0">
                      <div class="mb-18">
                        <p class="fs-lg-6 fs-14 text-natural-50 fw-bold lh-120 p-lg-5 p-4">聯絡專線</p>
                      </div>
                    </th>
                    <td class="p-0">
                      <div class="mb-18">
                        <p class="fs-lg-6 fs-14 fw-medium lh-120 py-lg-5 py-4 ps-0 pe-lg-5 pe-4">02-2758-6600</p>
                      </div>
                    </td>
                  </tr>
                  <tr class="border-natural-85">
                    <th scope="row" class="about-Career-company-information-th-size p-0">
                      <div class="mb-18">
                        <p class="fs-lg-6 fs-14 text-natural-50 fw-bold lh-120 p-lg-5 p-4">營業時間</p>
                      </div>
                    </th>
                    <td class="p-0">
                      <div class="py-lg-5 py-4 ps-0 pe-lg-5 pe-4">
                        <p class="fs-lg-6 fs-14 fw-medium lh-120">週一至週五 10:00～18:00（國定假日休息）</p>
                      </div>
                    </td>
                  </tr>
                  <tr class="border-natural-85">
                    <th scope="row" class="about-Career-company-information-th-size p-0">
                      <div class="mb-18">
                        <p class="fs-lg-6 fs-14 text-natural-50 fw-bold lh-120 p-lg-5 p-4">電子郵件</p>
                      </div>
                    </th>
                    <td class="p-0">
                      <div class="mb-18">
                        <p class="fs-lg-6 fs-14 fw-medium lh-120 py-lg-5 py-4 ps-0 pe-lg-5 pe-4">contact@workway.tw</p>
                      </div>
                    </td>
                  </tr>
                  <tr class="border-natural-85">
                    <th scope="row" class="about-Career-company-information-th-size p-0">
                      <div class="mb-18">
                        <p class="fs-lg-6 fs-14 text-natural-50 fw-bold lh-120 p-lg-5 p-4">成立時間</p>
                      </div>
                    </th>
                    <td class="p-0">
                      <div class="mb-18">
                        <p class="fs-lg-6 fs-14 fw-medium lh-120 py-lg-5 py-4 ps-0 pe-lg-5 pe-4">2023 年 6 月</p>
                      </div>
                    </td>
                  </tr>
                  <tr class="border-natural-85">
                    <th scope="row" class="about-Career-company-information-th-size p-0">
                      <div class="mb-18">
                        <p class="fs-lg-6 fs-14 text-natural-50 fw-bold lh-120 p-lg-5 p-4">統一編號</p>
                      </div>
                    </th>
                    <td class="p-0">
                      <div class="mb-18">
                        <p class="fs-lg-6 fs-14 fw-medium lh-120 py-lg-5 py-4 ps-0 pe-lg-5 pe-4">83149276</p>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- map -->
              <div class="about-Career-company-information-map-size">
                <img src="../assets/images/about/map.png" alt="map" class="w-100 h-100 about-Career-company-information-map-object">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- 持續支持方案-公司聯絡資訊 -->
    <section>
      <div class="container about-Career-company-information-contact-Info-Padding">
        <div class="d-flex flex-column gap-lg-5 gap-4 rounded-24 py-4 py-lg-5 px-5 px-lg-6 bg-primary-60">
          <!-- 公司文宣 -->
          <div class="d-flex flex-column pb-5 gap-5 border-dashed">
            <div>
              <img src="../assets/images/service/logo.png" alt="conversation-icon" class="img-fluid">
            </div>
            <div class="d-flex flex-column gap-3">
              <h2 class="fs-lg-2 fs-3 fw-bold text-light">邁向你真正想過的生活，從這裡開始</h2>
              <p class="fs-lg-5 fs-6 text-light">第一次諮詢只要 30 分鐘，可能改變你未來 30 年的生活方式</p>
            </div>
          </div>
          <!-- 公司資訊 -->
          <div class="d-flex gap-5 about-Career-company-information-contact-company-flex">
            <div class="d-lg-flex gap-lg-5">
              <div class="d-flex gap-2 mb-4 mb-lg-0 align-items-start">
                <div class="d-flex"><img src="../assets/images/service/call.png" alt="call-icon" class="img-fluid"></div>
                <a href="tel:0800123123"><h5 class="text-light special-fs-20 ls-0">0800-123-123</h5></a>
              </div>
              <div class="d-flex gap-2 align-items-start">
                <div class="d-flex"><img src="../assets/images/service/mail.png" alt="mail-icon" class="img-fluid"></div>
                <a href="mailto:Sample@mail.com"><h5 class="text-light special-fs-20 ls-0">Sample@mail.com</h5></a>
              </div>
            </div>
            <!-- btn -->
            <div>
              <input type="text" class="d-none" id="about-Career-btn">
              <label for="about-Career-btn" class="btn text-bg-dark rounded-16 printPadding fs-14 fs-lg-6">
                預約免費職涯探索<span class="material-icons-outlined align-bottom ms-lg-1">chevron_right</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%- include('./layout/footer') -%>
  <script type="module" src="../main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
  <!-- Initialize Swiper -->
  <script>
    const swiper = new Swiper('.swiper', {
      // Optional parameters
      // autoplay: {
      //   delay: 3000,              // 幾秒換一張
      //   disableOnInteraction: false, // 使用者滑過後，仍繼續自動輪播
      //   pauseOnMouseEnter: true,  // 滑鼠移上去就暫停（桌機很重要）
      // },

      loop: false, // 無限循環
      loopAdditionalSlides: 0, // ⭐ 補 clone 數
      slidesPerView: 'auto', //Swiper 不要幫我算寬度，我自己用 CSS 決定每張 slide 多寬
      spaceBetween: 24, // 卡片之間距離 (gap)
      autoHeight: false, //Swiper 高度「跟著當前 slide 內容走」，不固定
    });
  </script>
</body>
</html>