<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <!-- 兩個 icon 的 url 合併後產生新的 for visibility 跟 visibility_off 專用 -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0&icon_names=visibility" /> -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=visibility_off" /> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=visibility,visibility_off" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=calendar_month" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main class="bg-natural-95" id="contactUs">
      <div class="container py-6 py-lg-7">
        <div class="row justify-content-center">
          <div class="col-lg-10 position-relative">
            <!-- title -->
            <div class="d-flex justify-content-center mb-lg-5 mb-4">
              <h2 class="fs-3 fs-lg-2 fw-bold">聯絡我們</h2>
            </div>
            <!-- Summary -->
            <div class="d-flex justify-content-center mb-lg-6 mb-5">
              <p class="fs-lg-5 text-center text-natural-50">每一封郵件，我們都會親自回覆。每一通電話，都是新可能的開始。</p>
            </div>
            <!-- picture -->
            <div class="d-none d-lg-block position-absolute top-0 end-0 female-asst-img-width female-asst-img-margin">
              <img src="../assets/images/content/form-top.svg" alt="female-asst">
            </div>
            <!-- main page -->
            <div class="rounded-24 shadow bg-light p-lg-6 p-5">
              <form action="">
                <!-- 基本資料 -->
                <div class="d-lg-flex pb-lg-6 pb-5 border-bottom border-natural-85 mb-lg-6 mb-5">
                  <section class="me-lg-5 d-lg-block flex-shrink-1024-0 side-width d-flex align-items-center justify-content-between mb-4 mb-lg-0">
                    <h4 class="fs-20 fs-lg-4 mb-lg-3">基本資料</h4>
                    <p class="fs-14 fs-lg-6 text-natural-50">欄位皆為<span class="ms-1 fs-14 badge rounded-1 text-bg-danger">必填</span></p>
                  </section>
                  <section class="w-100">
                    <!-- 姓名 -->
                    <div class="form-floating mb-lg-5 mb-4">
                      <input type="text" class="form-control border-natural-85 fs-14 fs-lg-6"  id="floatingInputGuestName" placeholder="floatingInputGuestName" v-model="defaultGuest.name">
                      <label for="floatingInputGuestName" class="fs-lg-6 fs-14 label-sm-adjustment-lh-pt">姓名</label>
                    </div>
                    <!-- 信箱 -->
                    <div class="form-floating mb-lg-5 mb-4">
                      <input type="email" class="form-control border-natural-85 fs-14 fs-lg-6" id="floatingInputGuestEmail" placeholder="floatingInputGuestEmail" v-model="defaultGuest.email">
                      <label for="floatingInputGuestEmail" class="fs-lg-6 fs-14">信箱</label>
                      <p class="px-2 fs-14 text-natural-50">盡量勿使用Yahoo或Hotmail郵件信箱，以免因擋信、漏信</p>
                    </div>
                    <!-- 聯絡電話 -->
                    <div class="form-floating mb-lg-5 mb-4">
                      <input type="tel" class="form-control border-natural-85 fs-14 fs-lg-6" id="floatingInputGuestTel" placeholder="floatingInputGuestTel" v-model="defaultGuest.tel">
                      <label for="floatingInputGuestTel" class="fs-lg-6 fs-14">聯絡電話</label>
                      <p class="px-2 fs-14 text-natural-50">我們不會以電話主動聯繫您，告知您要至ATM操作轉帳</p>
                    </div>
                    <!-- 目前職業/工作身分 -->
                    <div class="dropdown">
                      <button class="form-select text-start py-4 fs-14 fs-lg-6 border-natural-85 " type="button" data-bs-toggle="dropdown" aria-expanded="false"  @click.prevent="employmentStatus($event)">
                        {{defaultGuest.employmentStatus}}
                      </button>
                      <ul class="dropdown-menu guest-dropdown-menu mt-2 w-100 shadow" :class="{'guest-dropdown-ul-open': employmentStatusBtn}">
                        <li v-for="( guestStatus , key ) in defaultGuest.employmentStatusOption" :key="'guestStatus'+ key" >
                          <a class="dropdown-item ps-5 py-2 guest-dropdown-menu-li-a" href="javascript:;" @click.prevent="guestStatusValue(guestStatus)">{{guestStatus}}</a>
                        </li>
                      </ul>
                    </div>
                  </section>
                </div>
                <!-- 諮詢需求 -->
                <div class="d-lg-flex pb-lg-6 pb-5 border-bottom border-natural-85 mb-lg-6 mb-5">
                  <!-- left side box -->
                  <section class="me-lg-5 d-lg-block side-width mb-lg-0 flex-shrink-1024-0 d-flex align-items-center justify-content-between mb-4">
                    <h4 class="fs-20 fs-lg-4 mb-lg-3">諮詢需求</h4>
                    <p class="fs-14 fs-lg-6 text-natural-50">欄位皆為<span class="ms-1 fs-14 badge rounded-1 text-bg-danger">必填</span></p>
                  </section>
                  <!-- right side box -->
                  <section class="w-100">
                    <!-- 主題 -->
                    <div class="input-group d-block mb-4 mb-lg-5">
                      <p class="fs-14 fs-lg-6 mb-2">諮詢主題</p>
                      <div class="ps-lg-2 d-flex flex-wrap">
                        <div class="form-check d-flex align-items-center mb-2 me-lg-5" 
                             v-for="(consultationItem , key) in defaultGuest.consultationTopicOption" 
                             :key="'consultationItem'+key"
                             :class="{'me-4': !consultationTopicKey.includes(key)} /* 如果 key 這個索引不在 computed 計算出來的 consultationTopicKey 陣列裡，就套用 me-4 */ ">
                          <input class="form-check-input me-1 border-natural-85" 
                                 type="checkbox" 
                                 :id="'consultationItem'+key" 
                                 :value="consultationItem" 
                                 v-model="defaultGuest.consultationTopic" 
                                 name="consultationTopic[]"> <!-- name 不是必須，但養成習慣寫 name="xxx[]" , but good habit -->
                          <label class="form-check-label fs-14" :for="'consultationItem'+key">{{consultationItem}}</label>
                        </div>
                      </div>
                      <p class="ps-lg-2 text-natural-50 fs-14">可複選，讓我們更了解你的狀況，安排最適合的顧問與建議。</p>
                    </div>
                    <!-- 專家 -->
                    <div class="dropdown  mb-4 mb-lg-5">
                      <button class="form-select py-4 text-start border-natural-85 fs-14 fs-lg-6" 
                              type="button" 
                              data-bs-toggle="dropdown" 
                              aria-expanded="false"
                              @click.prevent="expectExpertStatus($event)">
                        {{defaultGuest.expectExpert}}
                      </button>
                      <ul class="dropdown-menu w-100 mt-2 guest-dropdown-menu" :class="{'guest-dropdown-ul-open':expectExpertStatusBtn}">
                        <li v-for="(ExpertItem , key) in defaultGuest.expectExpertOption" :key="'ExpertItem'+key">
                          <a class="dropdown-item py-2 ps-5 guest-dropdown-menu-li-a" 
                             href="javascript:;"
                             @click.prevent="expectExpertValue(ExpertItem)">{{ExpertItem}}</a>
                        </li>
                      </ul>
                    </div>
                    <!-- 面臨挑戰 -->
                    <div class="form-floating mb-4 mb-lg-5">
                      <textarea class="form-control border-natural-85 fs-14 fs-lg-6" 
                                placeholder="您目前面臨的主要挑戰" 
                                id="main-challenges" 
                                style="height: 160px"
                                v-model="defaultGuest.mainChallenges"></textarea>
                      <label for="main-challenges" class="fs-14 fs-lg-6">您目前面臨的主要挑戰</label>
                    </div>
                    <!-- 期望達成的目標 -->
                    <div class="form-floating">
                      <textarea class="form-control border-natural-85 fs-14 fs-lg-6" 
                                placeholder="期望達成的目標" 
                                id="desired-goal" 
                                style="height: 160px"
                                v-model="defaultGuest.desiredGoal"></textarea>
                      <label for="desired-goal" class="fs-14 fs-lg-6">期望達成的目標</label>
                    </div>
                  </section>
                </div>
                <!-- 聯絡偏好 -->
                <div class="d-lg-flex mb-lg-6 mb-5">
                  <!-- left side box -->
                  <section class="side-width flex-shrink-1024-0 d-flex justify-content-between align-items-center d-lg-block mb-4 mb-lg-0 me-lg-5">
                    <h4 class="fs-20 fs-lg-4 mb-lg-3">聯絡偏好</h4>
                    <p class="fs-14 fs-lg-6 text-natural-50">欄位皆為選填</p>
                  </section>
                  <!-- right side box -->
                  <section class="w-100">
                    <!-- 聯絡方式 -->
                    <div class="mb-4 mb-lg-5">
                      <p class="fs-14 fs-lg-6 mb-2">偏好聯絡方式</p>
                      <div class="ps-2 d-flex">
                        <div class="form-check d-flex align-items-center mb-0 me-lg-5" 
                             v-for="(contactMethodItem, key) in defaultGuest.preferredContactMethodOption" 
                             :key="'contactMethodItem'+key"
                             :class="{'me-4': key !== defaultGuest.preferredContactMethodOption.length-1}">
                          <input class="form-check-input border-natural-85" 
                                 type="radio" 
                                 name="preferredContactMethod" 
                                 :id="'contactMethodItem'+key" 
                                 :value="contactMethodItem" 
                                 v-model="defaultGuest.preferredContactMethod">
                          <label class="form-check-label ms-1 fs-14" :for="'contactMethodItem'+key">{{contactMethodItem}}</label>
                        </div>
                      </div>
                    </div>
                    <!-- 聯絡時段 -->
                    <div class="mb-4 mb-lg-5">
                      <p class="fs-14 fs-lg-6 mb-2">偏好聯絡時段</p>
                      <div  class="input-group ps-lg-2 mb-2">
                        <div class="form-check d-flex align-items-center contactTime me-5" 
                             v-for="(contactTimeItem, key) in defaultGuest.preferredContactTimeOption"
                             :key="'contactTimeItem'+key"
                             :class="contactTimeClass(key)" ><!-- template 只管「用什麼 class」 -->
                          <input class="form-check-input border-natural-85" 
                                 type="checkbox" 
                                 :id="'contactTimeItem'+key" 
                                 :value="contactTimeItem"
                                 name="contactTimeItem[]"
                                 v-model="defaultGuest.preferredContactTime">
                          <label class="form-check-label fs-14 ms-1" :for="'contactTimeItem'+key">{{contactTimeItem}}</label>
                        </div>
                      </div>
                      <p class="px-lg-2 text-natural-50 fs-14">建議您可以勾選 2 個時段以上</p>
                    </div>
                    <!-- 預約諮詢時間 -->
                    <div class="mb-4 mb-lg-5">
                      <div class="form-floating position-relative">
                        <input type="text" class="form-control border-natural-85 fs-14 fs-lg-6" id="floatingInput" placeholder="預約諮詢時間">
                        <label for="floatingInput" class="fs-lg-6 fs-14">預約諮詢時間</label>
                        <span class="material-symbols-outlined position-absolute top-50 end-0 me-3 translate-middle-y icon-fs20">calendar_month</span>
                      </div>
                    </div>
                    <!-- 如何得知我們 -->
                    <fieldset class="mb-4 mb-lg-5">
                      <legend class="fs-14 fs-lg-6 mb-2">如何得知我們</legend>
                      <div class="ps-lg-2 d-flex flex-wrap mb-2">
                        <div class="form-check d-flex align-items-center"
                         v-for="(ThroughAChannelItem, key) in defaultGuest.findOutThroughAChannelOption"
                         :key="'ThroughAChannelItem'+key"
                         :class="ThroughAChannelClass(key)">
                          <input class="form-check-input border-natural-85" 
                                 type="checkbox" 
                                 :value="ThroughAChannelItem" 
                                 :id="'ThroughAChannelItem'+key" 
                                 name="ThroughAChannelItem[]"
                                 v-model="defaultGuest.findOutThroughAChannel"
                                 :disabled="defaultGuest.findOutThroughAChannel.length >= 3 && 
                                           !defaultGuest.findOutThroughAChannel.includes(ThroughAChannelItem)"> 
                                           <!-- :disabled =>如果已經選滿 3 個 並且 這個選項又不是在陣列資料中已選的其中之一，那就不能再勾它 -->
                          <label class="form-check-label ms-1 fs-14" :for="'ThroughAChannelItem'+key">
                            {{ThroughAChannelItem}}
                          </label>
                        </div>
                      </div>
                      <p class="px-lg-2 fs-14 text-natural-50">最多勾選 3 個</p>
                    </fieldset>
                    <!-- 告訴我們的事情 -->
                    <div class="mb-4 mb-lg-5">
                      <div class="form-floating">
                        <textarea class="form-control border-natural-85 tellUsOtherPadding fs-14 fs-lg-6" placeholder="有什麼其他想告訴我們的事情嗎？（最多300字）" id="tellUsOther" style="height: 160px" maxlength="300"></textarea>
                        <label for="tellUsOther" class="fs-14 fs-lg-6 tellUsOther-label">有什麼其他想告訴我們的事情嗎？（最多300字）</label>
                      </div>
                    </div>
                    <!-- 提醒 -->
                    <div>
                      <div class="mb-2 " >
                       <div class="d-flex align-items-center">
                         <input class="form-check-input border-natural-85 mt-0 me-1" type="checkbox" value="" id="acceptNewData"  v-model="acceptNewDataChecked">
                         <label class="form-check-label fs-14" for="acceptNewData">
                           我願意接收職旅最新資訊和專業內容
                          </label>
                       </div>
                       <p class="fs-14 text-danger ms-4" v-show="acceptNewDataShowSwitch">{{acceptNewDataCheckedText}}</p>
                      </div>
                      <div>
                        <div class="d-flex align-items-center">
                          <input class="form-check-input border-natural-85 mt-0 me-1" type="checkbox" value="" id="agreeTerms">
                          <label class="form-check-label fs-14 me-1" for="agreeTerms">我同意</label>
                          <a href="../pages/tos.html" class="fs-14 text-primary text-underline me-1">用戶條款</a>
                          <span class="fs-14 me-1">和</span>
                          <a href="../pages/tos.html" class="fs-14 text-primary text-underline">隱私政策</a>
                        </div>
                        <p class="fs-14 text-danger ms-4">請先勾選同意條款</p>
                      </div>
                    </div>
                  </section>
                </div>
                <!-- btn -->
                <div class="d-flex justify-content-center flex-col-rever-btn">
                  <!-- whiteBtn -->
                  <div class="">
                    <input type="button" id="refillContactWhiteBtn" class="d-none">
                    <label for="refillContactWhiteBtn" class="btn border border-natural-85 sentContactBtnPadding rounded-16 fs-14 fs-lg-6 w-100">重新填寫
                      <span class="material-icons-outlined align-bottom ms-lg-1">
                            chevron_right
                      </span>
                    </label>
                  </div>
                  <!-- blackBtn -->
                  <div @click.prevent="sentContactBtn()">
                    <input type="button" class="d-none" id="refillContactBlackBtn">
                    <label for="refillContactBlackBtn" class="btn border border-natural-85 sentContactBtnPadding rounded-16 fs-14 fs-lg-6 w-100 text-bg-dark">確認送出
                      <span class="material-icons-outlined align-bottom ms-lg-1">
                            chevron_right
                      </span>
                    </label>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
