<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <!-- 兩個 icon 的 url 合併後產生新的 for visibility 跟 visibility_off 專用 -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0&icon_names=visibility" /> -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=visibility_off" /> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=visibility,visibility_off" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

<button type="button" class="btn btn-primary ">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>
<button type="button" class="btn btn-link">Link</button>

<p class="text-primary border border-secondary mt-5 mt-lg-7 fs-5 fs-lg-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, nostrum.</p>


<div class="dropdown">
                          <button  class="form-select text-start py-4" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            工作產業
                          </button>
                          <ul class="dropdown-menu w-100 mt-2">
                            <li><a class="dropdown-item" href="#">科技</a></li>
                            <li><a class="dropdown-item" href="#">媒體</a></li>
                            <li><a class="dropdown-item" href="#">教育</a></li>
                            <li><a class="dropdown-item" href="#">金融</a></li>
                            <li><a class="dropdown-item" href="#">醫療健康</a></li>
                            <li><a class="dropdown-item" href="#">零售製造</a></li>
                            <li><a class="dropdown-item" href="#">服務業</a></li>
                            <li><a class="dropdown-item" href="#">藝術創意</a></li>
                            <li><a class="dropdown-item" href="#">非營利組織</a></li>
                          </ul>
                        </div>





    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    
  </body>
</html>
