<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <!-- 兩個 icon 的 url 合併後產生新的 for visibility 跟 visibility_off 專用 -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0&icon_names=visibility" /> -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=visibility_off" /> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=visibility,visibility_off" />
    <title>userTerms</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main class="bg-natural-95">
      <div class="container py-6 py-lg-7">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <!-- title -->
            <div class="d-flex justify-content-center mb-5 mb-lg-6"><h2 class="tos-h2-fs fw-bold">用戶條款</h2></div>
            <!-- Provisions area -->
            <div class="d-flex flex-column provisions-area-gap">
              <p class="fs-lg-5">最後更新日期：2025 年 1 月 1 日</p>
              <p class="fs-14 fs-lg-6">歡迎使用職旅 WorkWay（以下簡稱「本平台」）。請詳細閱讀以下使用者條款，使用本平台即表示你同意本條款內容。</p>
              <!-- 帳號註冊與義務 -->
              <div>
                <P class="provisions-title-fs fw-medium mb-2 mb-lg-3">一、帳號註冊與義務</P>
                <ul class="mb-0 provisions-ul-pl">
                  <li class="fs-14 fs-lg-6">你必須提供真實、完整的註冊資料，並對帳號行為負責。</li>
                  <li class="fs-14 fs-lg-6">不得冒用他人身份、或干擾他人使用本平台。</li>
                </ul>
              </div>
              <!-- 服務內容 -->
              <div>
                <p class="provisions-title-fs fw-medium mb-2 mb-lg-3">二、服務內容</p>
                <ul class="mb-0 list-unstyled">
                  <li class="fs-14 fs-lg-6">本平台提供自由職涯相關服務，包括職涯諮詢、資源內容、顧問配對等功能。</li>
                  <li class="fs-14 fs-lg-6">我們保留變更、暫停、終止部分或全部服務的權利，恕不另行通知。</li>
                </ul>
              </div>
              <!-- 使用規範 -->
              <div>
                <p class="provisions-title-fs fw-medium mb-2 mb-lg-3">三、使用規範</p>
                <span class="fs-14 fs-lg-6">你同意不從事以下行為：</span>
                <ul class="mb-0 provisions-ul-pl">
                  <li class="fs-14 fs-lg-6">上傳任何不實、具侵權或誤導性的資訊</li>
                  <li class="fs-14 fs-lg-6">干擾平台正常運作或其他使用者體驗</li>
                  <li class="fs-14 fs-lg-6">濫用諮詢資源或未經授權對外公開諮詢內容</li>
                  <li class="fs-14 fs-lg-6">從事與本平台業務無關之商業推廣</li>
                </ul>
              </div>
              <!-- 智慧財產權 -->
              <div>
                <p class="provisions-title-fs fw-medium mb-2 mb-lg-3">四、智慧財產權</p>
                <p class="fs-14 fs-lg-6">本平台所呈現內容（包含但不限於文字、圖片、圖像設計、程式碼）均為職旅 WorkWay 或其授權方所擁有。未經同意禁止擅自轉載、複製或用於其他用途。</p>
              </div>
              <!-- 終止與限制使用 -->
              <div>
                <p class="provisions-title-fs fw-medium mb-2 mb-lg-3">五、終止與限制使用</p>
                <p class="fs-14 fs-lg-6">如使用者違反本條款或法律規定，我們有權暫停或終止服務，無須事前通知。</p>
              </div>
              <!-- 六、責任限制-  -->
              <div>
                <p class="provisions-title-fs fw-medium mb-2 mb-lg-3">六、責任限制</p>
                <p class="fs-14 fs-lg-6">本平台所提供資訊與建議僅供參考，並不構成法律、財務、醫療等專業意見。我們不對使用本服務後的職涯結果或第三方服務負完全責任。</p>
              </div>
              <!-- 七、準據法與爭議解決 -->
              <div>
                <p class="provisions-title-fs fw-medium mb-2 mb-lg-3">七、準據法與爭議解決</p>
                <p class="fs-14 fs-lg-6">本條款受中華民國法律管轄。如有爭議，雙方同意以台灣台北地方法院為第一審管轄法院。</p>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </main>



    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
